
body{
    background-color: rgba(255, 217, 244, 0.685);
}

li{
    color:black;
    padding: 15px;
    border: 2px solid black;
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman',sans-serif;
    float:right;
    
}
li:hover{
color:rgb(23, 23, 235);
background-color: rgb(219, 210, 226);
}



ul{
    list-style: none;
    position: fixed;
    background-color: blanchedalmond;
    }